@model IEnumerable<PiwkoMozna.Models.BrowarModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Browary</h1>

<p>
    <a asp-action="Create">Dodaj Browar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BreweryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Founded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BreweryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Founded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BreweryName">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BreweryName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BreweryName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
